@model IEnumerable<Image>
<div class="col-md-6">
   
    <div id="product-gallery" class="owl-carousel">
        <div>
            <img alt="" class="img-responsive" src="~/Content/img/productimg/product1.jpg">
        </div>
        <div>
            <img alt="" class="img-responsive" src="~/Content/img/productimg/product3.jpg">
        </div>
        <div>
            <img alt="" class="img-responsive" src="~/Content/img/productimg/product4.jpg">
        </div>
    </div>
</div>